.snippets {
  display: grid;
  row-gap: 1rem;
}

.snippet {
  overflow: hidden;
  border-radius: .5rem;
  padding: 1.5rem;
  box-shadow: 0 0 5px rgba(#000, .3);
  display: grid;
  row-gap: .5rem;

  &__header {

  }

  &__title {
    margin: 0;
    margin-bottom: .25rem;
  }

  &__content {

  }

  &__footer {
    opacity: .7;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    display: block;
  }
}
